/* -----Button=-- */
/* html body.cro-t-57_58 #content section[data-id="ad2c1e5"] .elementor-column-gap-default [data-id="c172195"] [data-id="1a1b97f"] {
  display: none;
}

html body.cro-t-57_58 section#courses {
  display: none;
}

html body.cro-t-57_58 section[data-id="673155e"] {
  display: none;
}

html body.cro-t-57_58 section[data-id="88f0d76"] {
  display: none;
}

html body.cro-t-57_58 section[data-id="55a321a"] {
  display: none;
}

html body.cro-t-57_58 section[data-id="52edfcf"] {
  display: none;
}

html body.cro-t-57_58 section.cro57_58_hero-banner {
  display: none;
} */

@media (max-width: 767px) {
    html body.cro-t-57_58 section[data-id="4bfd066"] {
        order: 8;
    }

    html body.cro-t-57_58 .cro-t-57_58-LDiDifferent {
        order: 9;
    }

    html body.cro-t-57_58 .cro-t-57_58-academy {
        order: 10;
    }

    html body.cro-t-57_58 .cro-t-57_58-partners {
        order: 11;
    }

    html body.cro-t-57_58 .cro-t-57_58-tutors {
        order: 12;
    }
}

html body.cro-t-57_58 .bb-elementor-content > div {
    display: flex;
    flex-direction: column;
}

html body.cro-t-57_58 section.cro57_58_hero-banner {
    display: none;
    order: 1;
}

html body.cro-t-57_58 section.cro-t-57_58-top-banner {
    order: 2;
}

html body.cro-t-57_58 .cro-t-86-Diploma-cards {
    order: 3;
}

html body.cro-t-57_58 section#courses {
    display: none;
    order: 7;
    margin-bottom: 80px;
}

html body.cro-t-57_58 .cro-t-57_58-accreditation {
    order: 4;
}

html body.cro-t-57_58 .cro-t-57_58-dentists {
    order: 5;
}

html body.cro-t-57_58 .cro-t-57_58-LDiDifferent {
    order: 8;
}

html body.cro-t-57_58 .cro-t-57_58-academy {
    order: 9;
}

html body.cro-t-57_58 .cro-t-57_58-partners {
    order: 10;
}

html body.cro-t-57_58 .cro-t-57_58-tutors {
    order: 11;
    margin-bottom: 50px !important;
}

html body.cro-t-57_58 .cro-t-57_58-Faq {
    order: 6;
}

@media (min-width: 768px) {
    html body.cro-t-57_58 section[data-id="6a886dd"] {
        margin-top: 100px;
    }
}

@media (max-width: 767px) {
    html body.cro-t-57_58 section[data-id="0218a36"] {
        display: none;
    }

    html body.cro-t-57_58 section [data-id="6a886dd"] {
        margin-top: 50px;
    }
}

/* ------New--Top--Hero--Banner-- */

html body.cro-t-57_58 .cro-container {
    width: 100%;
    max-width: 1296px;
    margin: 0 auto;
}

@media (max-width: 1330px) {
    html body.cro-t-57_58 .cro-container {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (max-width: 1024px) {
    html body.cro-t-57_58 .cro-container {
        padding-left: 54px;
        padding-right: 54px;
    }
}

@media (max-width: 767px) {
    html body.cro-t-57_58 .cro-container {
        padding-left: 20px;
        padding-right: 20px;
    }
}

html body.cro-t-57_58 section.cro-t-57_58-top-banner {
    background: #f7f7f7;
}

html body.cro-t-57_58 .cro-t-57_58-top-banner-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
    gap: 30px;
    width: 100%;
    max-width: 644px;
    margin: 0 auto;
}

html body.cro-t-57_58 .cro-t-57_58-top-banner-heading-top {
    font-family: "Poppins", Sans-serif;
    color: var(--LDi-sky_blue, #00a9e0);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 3.6px;
}

html body.cro-t-57_58 .cro-t-57_58-top-banner-main-heading {
    color: var(--LDi-dark_blue, #1e1a34);
    text-align: center;
    font-family: "Poppins", Sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px;
}

html body.cro-t-57_58 .cro-t-57_58-top-banner-sub-heading {
    color: var(--LDi-dark_blue, #1e1a34);
    text-align: center;
    font-family: "Poppins", Sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

@media (max-width: 1024px) {
    html body.cro-t-57_58 .cro-t-57_58-top-banner-inner {
        align-items: flex-start;
        gap: 30px;
        width: 100%;
        max-width: 100%;
    }

    html body.cro-t-57_58 .cro-t-57_58-top-banner-heading-top {
        text-align: left;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 3.2px;
    }

    html body.cro-t-57_58 .cro-t-57_58-top-banner-main-heading {
        text-align: left;
        font-size: 30px;
        line-height: 36px;
    }

    html body.cro-t-57_58 .cro-t-57_58-top-banner-sub-heading {
        font-size: 16px;
        line-height: 22px;
        text-align: left;
    }

    html body.cro-t-57_58 .cro-t-57_58-top-banner-heading {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }
}

/* --------New-Diploma-card----- */

html body.cro-t-57_58 .cro-t-86-Diploma-card-container {
    gap: 59px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1300px;
    padding-top: 100px;
}

html body.cro-t-57_58 .cro-t-86-Diploma-card {
    border-radius: 9px;
    background: #f7f7f7;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 392px;
    gap: 17px;
    height: fit-content;
}

html body.cro-t-57_58 .cro-t-86-Diploma-card-top-part {
    padding: 41px 16px 25px 20px;
    display: flex;
    flex-direction: column;
    gap: 29px;
}

html body.cro-t-57_58 .cro-t-86-Diploma-card-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}

html body.cro-t-57_58 img.cro-Diploma-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

html body.cro-t-57_58 h3.cro-t-86-Diploma-card-main-header {
    color: #000;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
    font-family: "Poppins", Sans-serif;
}

html body.cro-t-57_58 .cro-t-86-Diploma-card-main-sub-header {
    color: #505050;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    font-family: "Poppins", Sans-serif;
}

html body.cro-t-57_58 .cro-t-57-header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    position: relative;
    z-index: 9;
    background: rgba(0, 0, 0, 0.03);
}

html body.cro-t-57_58 .cro-t-57-header-text {
    color: #505050;
    font-family: "Poppins", Sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
}

html body.cro-t-57_58 .cro-t-57-drop-down {
    max-height: 0;
    transition: max-height 0.4s ease;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.03);
    display: flex;
    align-items: flex-start;
}

html body.cro-t-57_58 .croShow .cro-t-57-drop-down {
    max-height: 400px;
}

html body.cro-t-57_58 .cro-t-57-header-icon {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

html body.cro-t-57_58 .cro-t-57-content.cro-t-57-content1 {
    background-color: #f1f1f1;
    border-bottom: 1px solid #e4e3e3;
}

html body.cro-t-57_58 .cro-t-57-content.cro-t-57-content2 {
    background-color: #f7f7f7;
    border-bottom: 1px solid #e4e3e3;
}

html body.cro-t-57_58 .cro-t-57-content.cro-t-57-content3 {
    background-color: #f2f2f2;
}

html body.cro-t-57_58 .cro-t-57-content.croShow svg.cro-faq-close-icon {
    display: none;
}

html body.cro-t-57_58 .cro-t-57-content:not(.croShow) svg.cro-faq-open-icon {
    display: none;
}

html body.cro-t-57_58 .cro-t-57-content-button-course {
    border-radius: 0px 0px 5px 5px;
    border-top: 1px solid #e4e3e3;
    background: #00a9e0;
    transition: 0.3s;
    cursor: pointer;
}

html body.cro-t-57_58 .cro-t-57-content-button-course:hover {
    opacity: 50%;
}

html body.cro-t-57_58 a.cro-t-57-button {
    color: #fff;
    text-align: center;
    font-family: "Poppins", Sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
    padding: 25px 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

html body.cro-t-57_58 li.cro-t-57-drop-down-list {
    color: #505050;
    font-family: "Poppins", Sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

html body.cro-t-57_58 .cro-t-57-show-more,
html body.cro-t-57_58 .cro-t-57-show-less {
    color: #5c4646;
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: underline;
    cursor: pointer;
    width: fit-content;
    margin: 16px 0;
}

html body.cro-t-57_58 .cro-t-57-content.cro-show_more .cro-t-57-show-more {
    display: none;
}

html body.cro-t-57_58 .cro-t-57-content.cro-show_more .cro-t-57-show-less {
    display: block !important;
}

html body.cro-t-57_58 .cro-t-57-content:not(.cro-show_more) .cro-t-57-show-less {
    display: none;
}

html body.cro-t-57_58 .cro-t-57-content:not(.cro-show_more) .cro-t-57-show-more {
    display: block !important;
}

html body.cro-t-57_58.hideBtn .cro-t-57-content:not(.cro-show_more) .cro-t-57-show-more {
    display: none !important;
}

html body.cro-t-57_58 .cro-t-57-drop-down-text .cro-t-57-drop-down-ul {
    margin-left: 20px;
    margin-bottom: 0;
    width: 100%;
}

html body.cro-t-57_58 .Diploma-1 .cro-t-57-content2.cro-show_more .cro-t-57-drop-down {
    max-height: 310px !important;
}

html body.cro-t-57_58 .Diploma-1 .cro-t-57-content3.cro-show_more .cro-t-57-drop-down {
    max-height: 260px !important;
}

html body.cro-t-57_58 .Diploma-3 .cro-t-57-content2.cro-show_more .cro-t-57-drop-down {
    max-height: 200px !important;
}

html body.cro-t-57_58 .Diploma-3 .cro-t-57-content3.cro-show_more .cro-t-57-drop-down {
    max-height: 230px !important;
}

html body.cro-t-57_58 .Diploma-2 .cro-t-57-content3.cro-show_more .cro-t-57-drop-down {
    max-height: 284px !important;
}

html body.cro-t-57_58 .cro-t-57-drop-down-text {
    padding: 0 20px 20px 24px;
    height: 100%;
    display: flex;
    width: 100%;
}

html body.cro-t-57_58 .elementor-button-wrapper a.elementor-button.elementor-button-link[href="#courses"] {
    display: none;
}

html body.cro-t-57_58 .cro-clone-button {
    cursor: pointer;
}

html body.cro-t-57_58 .cro-clone-button:hover {
    opacity: 50%;
}

@media (min-width: 950px) {
    html body.cro-t-57_58 .cro-t-57-content1 .cro-t-57-drop-down .cro-t-57-drop-down-text {
        min-height: 210px;
    }

    html body.cro-t-57_58 .cro-t-57-content2 .cro-t-57-drop-down .cro-t-57-drop-down-text {
        min-height: 285px;
    }

    html body.cro-t-57_58 .cro-t-57-content3 .cro-t-57-drop-down .cro-t-57-drop-down-text {
        min-height: 260px;
    }
}
@media (max-width: 950px) {
    html body.cro-t-57_58 .cro-t-86-Diploma-card-container {
        flex-direction: column;
        margin: 0 auto;
        align-items: center;
    }
}

@media (max-width: 767px) {
    html body.cro-t-57_58 .cro-t-86-Diploma-card-container {
        gap: 48px;
        padding-top: 50px;
    }

    h3.cro-t-86-Diploma-card-main-header {
        font-size: 16px;
    }

    html body.cro-t-57_58 .cro-t-86-Diploma-card-main-sub-header {
        font-size: 16px;
    }

    html body.cro-t-57_58 .cro-t-57-header-text {
        font-size: 16px;
    }

    html body.cro-t-57_58 li.cro-t-57-drop-down-list {
        font-size: 16px;
    }
}